In [6]:
import pandas as pd
import numpy as np
import os

# Lectura de los datasets y creación de los dataframes
datasets = os.listdir('./datasets')
dataframes = []
for csv in datasets:
    df = pd.read_csv(f'./datasets/{csv}')
    dataframes.append(df)

closed_deals = dataframes[0] # Yo
customers = dataframes[1] # Yo
geolocation = dataframes[2] # Yo
marketing_qualified_leads = dataframes[3] # Yo
items = dataframes[4]
order_payments = dataframes[5]
order_reviews = dataframes[6]
orders = dataframes[7]
products = dataframes[8]
sellers = dataframes[9]
df_product_category_name_translation = dataframes[10]

## Análisis de tabla "Closed_deals"

### Head

In [80]:
# closed_deals.iloc[:,4:].head()
closed_deals.head()

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0

### Información de la tabla

In [87]:
#Info de la tabla
print(closed_deals.iloc[:,4:].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   won_date                       842 non-null    object
 1   business_segment               841 non-null    object
 2   lead_type                      836 non-null    object
 3   lead_behaviour_profile         665 non-null    object
 4   has_company                    63 non-null     object
 5   has_gtin                       64 non-null     object
 6   average_stock                  66 non-null     object
 7   business_type                  832 non-null    object
 8   declared_product_catalog_size  69 non-null     float64
 9   declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(8)
memory usage: 65.9+ KB
None

### Nulos

In [89]:
#Cantidad de nulos
print(closed_deals.iloc[:,4:].isnull().sum())
#Porcentaje de nulos
print('\n')
print(closed_deals.iloc[:,4:].isnull().sum()/len(closed_deals)*100)

won_date                           0
business_segment                   1
lead_type                          6
lead_behaviour_profile           177
has_company                      779
has_gtin                         778
average_stock                    776
business_type                     10
declared_product_catalog_size    773
declared_monthly_revenue           0
dtype: int64


won_date                          0.000000
business_segment                  0.118765
lead_type                         0.712589
lead_behaviour_profile           21.021378
has_company                      92.517815
has_gtin                         92.399050
average_stock                    92.161520
business_type                     1.187648
declared_product_catalog_size    91.805226
declared_monthly_revenue          0.000000
dtype: float64

###  Columna "business_segment"

In [106]:
print(closed_deals.business_segment.unique())
print(closed_deals.business_segment.value_counts())

['pet' 'car_accessories' 'home_appliances' 'food_drink' 'health_beauty'
 'computers' 'household_utilities' 'construction_tools_house_garden'
 'toys' 'sports_leisure' 'stationery' 'food_supplement' 'home_decor'
 'bed_bath_table' 'watches' 'fashion_accessories' 'jewerly' 'party'
 'small_appliances' 'audio_video_electronics' 'other' 'bags_backpacks'
 'home_office_furniture' 'music_instruments' 'books' 'baby'
 'air_conditioning' 'phone_mobile' nan 'handcrafted' 'perfume' 'gifts'
 'religious' 'games_consoles']
home_decor                         105
health_beauty                       93
car_accessories                     77
household_utilities                 71
construction_tools_house_garden     69
audio_video_electronics             64
computers                           34
pet                                 30
food_supplement                     28
food_drink                          26
sports_leisure                      25
bed_bath_table                      22
bags_backpacks                      22
toys                                20
fashion_accessories                 19
home_office_furniture               14
stationery                          13
phone_mobile                        13
small_appliances                    12
handcrafted                         12
baby                                10
music_instruments                    9
books                                9
jewerly                              8
watches                              8
home_appliances                      7
party                                5
gifts                                5
other                                3
air_conditioning                     3
perfume                              2
games_consoles                       2
religious                            1
Name: business_segment, dtype: int64

### Columna "lead_type"

In [107]:
print(closed_deals.lead_type.unique())
print(closed_deals.lead_type.value_counts())

['online_medium' 'industry' 'online_big' 'online_small' 'offline'
 'online_top' 'online_beginner' 'other' nan]
online_medium      332
online_big         126
industry           123
offline            104
online_small        77
online_beginner     57
online_top          14
other                3
Name: lead_type, dtype: int64

### Columna "lead_behaviour_profile"

In [108]:
print(closed_deals.lead_behaviour_profile.unique())
print(closed_deals.lead_behaviour_profile.value_counts())

['cat' 'eagle' nan 'wolf' 'shark' 'cat, wolf' 'eagle, wolf' 'shark, cat'
 'eagle, cat' 'shark, wolf']
cat            407
eagle          123
wolf            95
shark           24
cat, wolf        8
eagle, wolf      3
eagle, cat       3
shark, cat       1
shark, wolf      1
Name: lead_behaviour_profile, dtype: int64

###  Columna "has_company"

In [105]:
#closed_deals.iloc[:,4:].loc[closed_deals.has_company.isnull() == False].head()
print(closed_deals.has_company.unique())
print(closed_deals.has_company.value_counts())

[nan True False]
True     58
False     5
Name: has_company, dtype: int64

###  Columna "has_gtin"

In [109]:
print(closed_deals.has_gtin.unique())
print(closed_deals.has_gtin.value_counts())

[nan True False]
True     54
False    10
Name: has_gtin, dtype: int64

### Columna "average_stock"

In [110]:
print(closed_deals.average_stock.unique())
print(closed_deals.average_stock.value_counts())

[nan '20-50' '1-5' '5-20' '200+' '50-200' 'unknown']
5-20       22
50-200     15
1-5        10
20-50       8
200+        7
unknown     4
Name: average_stock, dtype: int64

### Columna "business_type"

In [116]:
print(closed_deals.business_type.unique())
print(closed_deals.business_type.value_counts())

['reseller' 'manufacturer' 'other' nan]
reseller        587
manufacturer    242
other             3
Name: business_type, dtype: int64

### Columna "declared_product_catalog_size"

In [112]:
print(closed_deals.declared_product_catalog_size.unique())
print(closed_deals.declared_product_catalog_size.value_counts())

[     nan 2.00e+03 8.00e+01 1.50e+01 1.20e+02 1.00e+03 5.00e+01 4.00e+00
 4.00e+02 8.00e+02 5.00e+00 1.00e+02 3.00e+02 1.00e+01 4.00e+01 5.00e+02
 2.00e+02 2.00e+01 1.00e+00 7.00e+01 4.50e+01 2.20e+01 3.00e+01 8.50e+01
 7.50e+01 6.00e+02 4.70e+01 1.20e+01 7.00e+02 1.20e+03 2.00e+00 5.50e+02
 3.05e+02 1.32e+02]
100.0     9
50.0      7
300.0     5
400.0     4
20.0      4
1000.0    3
10.0      3
30.0      2
70.0      2
200.0     2
4.0       2
40.0      2
500.0     2
15.0      2
120.0     2
600.0     1
550.0     1
2.0       1
1200.0    1
305.0     1
700.0     1
12.0      1
47.0      1
2000.0    1
75.0      1
85.0      1
22.0      1
45.0      1
1.0       1
80.0      1
5.0       1
800.0     1
132.0     1
Name: declared_product_catalog_size, dtype: int64

## Análisis de tabla "customers"

### Head

In [115]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

### Información de la tabla

In [117]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

### Nulos

In [119]:
#Cantidad de nulos
print(customers.isnull().sum())
#Porcentaje de nulos
print('\n')
print(customers.isnull().sum()/len(customers)*100)

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64


customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

### Columna "customer_zip_code_prefix"

In [120]:
print(customers.customer_zip_code_prefix.unique())
print(customers.customer_zip_code_prefix.value_counts())

[14409  9790  1151 ...  5538 74980 99043]
22790    142
24220    124
22793    121
24230    117
22775    110
        ...
35698      1
99370      1
64808      1
60876      1
99043      1
Name: customer_zip_code_prefix, Length: 14994, dtype: int64

### Columna "customer_city"

In [121]:
print(customers.customer_city.unique())
print(customers.customer_city.value_counts())

['franca' 'sao bernardo do campo' 'sao paulo' ... 'monte bonito'
 'sao rafael' 'eugenio de castro']
sao paulo            15540
rio de janeiro        6882
belo horizonte        2773
brasilia              2131
curitiba              1521
                     ...
bequimao                 1
andarai                  1
vargem grande            1
curvelandia              1
eugenio de castro        1
Name: customer_city, Length: 4119, dtype: int64

### Columna "customer_state"

In [122]:
print(customers.customer_state.unique())
print(customers.customer_state.value_counts())

['SP' 'SC' 'MG' 'PR' 'RJ' 'RS' 'PA' 'GO' 'ES' 'BA' 'MA' 'MS' 'CE' 'DF'
 'RN' 'PE' 'MT' 'AM' 'AP' 'AL' 'RO' 'PB' 'TO' 'PI' 'AC' 'SE' 'RR']
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64

## Análisis de tabla "geolocation"

### Head

In [123]:
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

### Información de la tabla

In [124]:
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

### Nulos

In [126]:
#Cantidad de nulos
print(geolocation.isnull().sum())
#Porcentaje de nulos
print('\n')
print(geolocation.isnull().sum()/len(geolocation)*100)

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64


geolocation_zip_code_prefix    0.0
geolocation_lat                0.0
geolocation_lng                0.0
geolocation_city               0.0
geolocation_state              0.0
dtype: float64

### Columna "geolocation_zip_code_prefix"

In [129]:
print(geolocation.geolocation_zip_code_prefix.unique())
print(geolocation.geolocation_zip_code_prefix.value_counts())

[ 1037  1046  1041 ... 99910 99920 99952]
24220    1146
24230    1102
38400     965
35500     907
11680     879
         ...
71750       1
71742       1
26475       1
26357       1
29826       1
Name: geolocation_zip_code_prefix, Length: 19015, dtype: int64

### Columna "geolocation_lat"

In [130]:
print(geolocation.geolocation_lat.unique())
print(geolocation.geolocation_lat.value_counts())

[-23.54562128 -23.54608113 -23.54612897 ... -28.06886363 -28.06863888
 -28.38893188]
-27.102099    314
-23.495901    190
-23.506049    141
-23.490618    127
-23.005514    102
             ...
-23.102130      1
-22.895678      1
-22.599157      1
-22.878048      1
-28.388932      1
Name: geolocation_lat, Length: 717360, dtype: int64

### Columna "geolocation_lng"

In [131]:
print(geolocation.geolocation_lng.unique())
print(geolocation.geolocation_lng.value_counts())

[-46.63929205 -46.6448203  -46.64295148 ... -52.01296438 -52.01070525
 -51.84687132]
-48.629613    314
-46.874687    190
-46.717377    141
-46.869004    127
-43.375964    102
             ...
-48.451196      1
-48.429817      1
-48.616300      1
-48.425129      1
-51.846871      1
Name: geolocation_lng, Length: 717613, dtype: int64

### Columna "geolocation_city"

In [132]:
print(geolocation.geolocation_city.unique())
print(geolocation.geolocation_city.value_counts())

['sao paulo' 'são paulo' 'sao bernardo do campo' ... 'ciríaco' 'estação'
 'vila lângaro']
sao paulo               135800
rio de janeiro           62151
belo horizonte           27805
são paulo                24918
curitiba                 16593
                         ...
jacuípe                      1
mar vermelho                 1
quebrangulo                  1
poço das trincheiras         1
poxim                        1
Name: geolocation_city, Length: 8011, dtype: int64

### Columna "geolocation_state"

In [133]:
print(geolocation.geolocation_state.unique())
print(geolocation.geolocation_state.value_counts())

['SP' 'RN' 'AC' 'RJ' 'ES' 'MG' 'BA' 'SE' 'PE' 'AL' 'PB' 'CE' 'PI' 'MA'
 'PA' 'AP' 'AM' 'RR' 'DF' 'GO' 'RO' 'TO' 'MT' 'MS' 'RS' 'PR' 'SC']
SP    404268
MG    126336
RJ    121169
RS     61851
PR     57859
SC     38328
BA     36045
GO     20139
ES     16748
PE     16432
DF     12986
MT     12031
CE     11674
PA     10853
MS     10431
MA      7853
PB      5538
RN      5041
PI      4549
AL      4183
TO      3576
SE      3563
RO      3478
AM      2432
AC      1301
AP       853
RR       646
Name: geolocation_state, dtype: int64

## Análisis de tabla "marketing_qualified_leads"

### Head

In [134]:
marketing_qualified_leads.head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

### Info

In [135]:
marketing_qualified_leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

### Nulos

In [137]:
#Cantidad de nulos
print(marketing_qualified_leads.isnull().sum())
#Porcentaje de nulos
print('\n')
print(marketing_qualified_leads.isnull().sum()/len(marketing_qualified_leads)*100)

mql_id                 0
first_contact_date     0
landing_page_id        0
origin                60
dtype: int64


mql_id                0.00
first_contact_date    0.00
landing_page_id       0.00
origin                0.75
dtype: float64

### Columna "first_contact_date"

In [140]:
print(marketing_qualified_leads.first_contact_date.unique())
print(marketing_qualified_leads.first_contact_date.value_counts())

['2018-02-01' '2017-10-20' '2018-03-22' '2018-01-22' '2018-02-21'
 '2018-01-14' '2018-05-15' '2018-05-24' '2017-11-10' '2017-12-25'
 '2018-01-24' '2018-04-30' '2018-04-04' '2018-05-23' '2018-04-03'
 '2017-12-08' '2018-02-16' '2018-01-13' '2018-01-15' '2018-02-23'
 '2017-07-25' '2017-07-13' '2018-03-12' '2018-04-14' '2017-12-31'
 '2017-09-11' '2018-05-29' '2018-05-02' '2018-04-15' '2018-05-08'
 '2018-01-26' '2018-02-22' '2018-05-11' '2018-04-18' '2017-09-26'
 '2018-03-07' '2018-03-16' '2017-09-29' '2018-01-03' '2018-05-30'
 '2018-03-28' '2018-02-05' '2018-02-17' '2017-07-06' '2018-04-19'
 '2018-04-05' '2018-02-28' '2017-10-19' '2017-10-10' '2017-08-07'
 '2017-08-10' '2017-09-12' '2018-03-06' '2017-07-10' '2018-02-08'
 '2018-01-10' '2018-01-28' '2018-05-25' '2017-10-21' '2018-01-29'
 '2018-05-09' '2018-02-20' '2018-04-26' '2018-01-05' '2017-10-09'
 '2018-05-20' '2018-04-12' '2017-07-11' '2017-07-08' '2017-09-05'
 '2017-08-27' '2018-02-06' '2017-08-24' '2017-11-14' '2017-10-18'
 '2018-01-30' '2018-05-14' '2018-04-13' '2017-10-16' '2017-11-24'
 '2018-03-24' '2017-09-15' '2018-03-21' '2018-01-01' '2018-03-20'
 '2017-11-16' '2018-04-20' '2018-04-27' '2018-03-14' '2017-11-08'
 '2018-01-08' '2018-04-23' '2017-10-26' '2017-08-22' '2018-04-02'
 '2018-01-17' '2018-01-27' '2018-04-29' '2017-07-14' '2018-05-05'
 '2017-07-07' '2017-07-20' '2018-02-04' '2017-10-27' '2018-04-09'
 '2018-04-11' '2017-08-12' '2018-03-09' '2018-03-08' '2018-05-16'
 '2018-02-19' '2018-04-17' '2018-04-28' '2017-12-14' '2017-11-13'
 '2018-01-31' '2018-01-19' '2018-01-02' '2018-03-13' '2018-03-18'
 '2017-11-30' '2018-04-01' '2017-09-19' '2018-01-25' '2018-01-23'
 '2018-02-27' '2017-07-17' '2017-10-05' '2018-03-29' '2018-01-12'
 '2017-10-23' '2017-09-25' '2018-03-01' '2018-01-07' '2018-03-27'
 '2018-05-22' '2018-03-26' '2018-05-26' '2018-05-28' '2018-04-10'
 '2017-10-07' '2017-12-06' '2018-05-07' '2017-07-31' '2018-03-11'
 '2018-02-18' '2017-10-31' '2017-09-06' '2018-05-12' '2017-10-06'
 '2018-05-31' '2018-01-18' '2017-07-21' '2018-04-16' '2018-05-17'
 '2018-05-03' '2017-12-15' '2017-09-01' '2017-11-28' '2018-01-04'
 '2018-02-26' '2017-10-03' '2018-02-13' '2017-11-09' '2017-07-27'
 '2017-09-24' '2017-08-03' '2018-01-09' '2018-03-10' '2017-10-02'
 '2017-07-16' '2018-01-16' '2017-08-15' '2017-08-31' '2018-02-12'
 '2017-08-05' '2017-12-29' '2018-05-19' '2018-01-21' '2018-04-07'
 '2017-12-30' '2017-12-20' '2018-02-14' '2017-10-25' '2017-11-18'
 '2018-03-23' '2017-09-13' '2017-08-02' '2018-05-18' '2017-11-05'
 '2018-02-11' '2017-09-22' '2017-08-01' '2018-01-20' '2018-03-19'
 '2017-07-19' '2017-08-29' '2017-11-03' '2018-02-24' '2017-12-01'
 '2017-09-08' '2017-08-30' '2018-05-01' '2018-04-24' '2018-04-06'
 '2017-11-20' '2017-11-02' '2018-02-03' '2017-11-29' '2018-04-25'
 '2017-12-18' '2017-11-06' '2017-08-21' '2018-05-10' '2017-07-30'
 '2018-02-02' '2018-03-31' '2017-12-22' '2017-11-12' '2017-09-18'
 '2017-11-23' '2017-09-14' '2017-10-22' '2018-05-27' '2018-02-25'
 '2017-11-17' '2017-11-01' '2018-02-15' '2018-03-15' '2018-03-05'
 '2017-08-28' '2017-11-21' '2018-05-21' '2017-11-11' '2017-09-28'
 '2017-10-17' '2018-02-09' '2018-01-11' '2017-09-04' '2017-11-26'
 '2017-08-16' '2018-03-30' '2018-03-17' '2018-02-10' '2018-04-21'
 '2017-08-19' '2018-02-07' '2017-11-19' '2018-03-02' '2018-04-08'
 '2017-09-03' '2017-10-30' '2017-11-25' '2018-03-03' '2017-12-26'
 '2017-08-08' '2017-07-28' '2017-07-26' '2017-07-04' '2017-12-27'
 '2017-12-02' '2017-07-29' '2017-09-20' '2017-07-18' '2017-12-24'
 '2017-11-22' '2018-05-06' '2017-09-27' '2017-11-07' '2017-08-18'
 '2017-08-23' '2017-12-07' '2017-10-24' '2017-07-22' '2017-09-21'
 '2017-07-12' '2017-12-03' '2017-11-04' '2017-11-27' '2018-05-04'
 '2017-08-09' '2017-10-04' '2018-01-06' '2017-10-11' '2017-09-17'
 '2017-10-29' '2017-08-17' '2017-08-04' '2017-08-25' '2017-07-05'
 '2017-10-08' '2017-12-23' '2017-10-13' '2017-10-28' '2017-12-04'
 '2017-07-24' '2017-12-12' '2017-11-15' '2017-09-23' '2018-03-25'
 '2017-10-15' '2017-12-09' '2017-08-14' '2017-10-01' '2018-04-22'
 '2017-12-17' '2017-07-15' '2018-05-13' '2017-06-14' '2017-07-03'
 '2017-09-09' '2017-08-20' '2017-12-28' '2018-03-04' '2017-08-11'
 '2017-09-10' '2017-06-20' '2017-09-07' '2017-08-13' '2017-12-19'
 '2017-07-02' '2017-12-11' '2017-07-23' '2017-12-05' '2017-12-16'
 '2017-10-12' '2017-09-16' '2017-08-06' '2017-08-26' '2017-12-21'
 '2017-09-30' '2017-07-09' '2017-06-16' '2017-12-13' '2017-10-14'
 '2017-09-02']
2018-05-02    93
2018-05-15    76
2018-01-22    75
2018-02-06    71
2018-03-26    70
              ..
2017-07-15     1
2017-07-30     1
2017-07-16     1
2017-12-09     1
2017-09-02     1
Name: first_contact_date, Length: 336, dtype: int64

### Columna "landing_page_id"

In [139]:
print(marketing_qualified_leads.landing_page_id.unique())
print(marketing_qualified_leads.landing_page_id.value_counts())

['88740e65d5d6b056e0cda098e1ea6313' '007f9098284a86ee80ddeb25d53e0af8'
 'a7982125ff7aa3b2054c6e44f9d28522' 'd45d558f0daeecf3cccdffe3c59684aa'
 'b48ec5f3b04e9068441002a19df93c6c' '22c29808c4f815213303f8933030604c'
 '6a110e795dd487f1cf8d7583671987af' 'd51b0d02f063ba1d053db6d97226eec3'
 'aeac92c0f5ae22a04ed3b746cce3a1b6' 'f017be4dbf86243af5c1ebed0cff36a2'
 '35c9b150ab36fe584c1f24fd458c453a' '2f08471dfb83baef522f952438a36f6e'
 '73f31a40697cc90a86c1273563ac230e' '1ceb590cd1e00c7ee95220971f82693d'
 'bdaeb752e5c3caa215ebe04c61e22325' 'b76ef37428e6799c421989521c0e5077'
 '1d4ddc25ccaa2adeded340b6eda66182' '3cd2a8301d5395f21cdd3094c9eaa2f4'
 'caef563a428392ddc7807d2a529413b9' 'ece960c5dab1a015cc1cb5a419b0c63b'
 'd83b0d0e48c8447d1d5507a44027a955' '30534107aa0013db92899c96a1017d0b'
 '15cf89bab2c3163b4f9d8601d108f8b2' '58326e62183c14b0c03085c33b9fdc44'
 '0218f6be0b76aca72ab4d00ee9e8cf10' 'e492ee5eaf1697716985cc6f33f9cd9b'
 'd823616cbcb84fff516db22f366caaa5' 'ea0650174e273c41e12002dcdd4708be'
 '5209e2e679d32a6619feb6942702fd14' 'ee3c3bad6ed3eb9d5de56688d1f9c91b'
 '241f79c7a8fe0270f4fb79fcbbcd17ad' 'a5f7caba65f90d45005f62cb85bced39'
 'f98c2bd96ac4a5d9476734e790c91384' 'ef0b482996664cc1107b9051efd3ca84'
 '87732658ba41d8775e8577df347a64db' 'c2f7f172d3275d27cba772ab70ac3052'
 'a56671a54260a44923d32c2f08fad39c' '21a104c3279681d9856b8a48723c4fee'
 'ce1a65abd0973638f1c887a6efcfa82d' '65d9f9d71e562365e8b44037c2888d98'
 'f80696b73d17fb34f5c4fde157f119d8' '707541550a71b1e700bbd4cf90677923'
 'a0fbc0263cb98bdb0d72b9f9f283a172' 'c754e5846c791d26b1c34070c41adf6e'
 '30077c17f2ec5010a82e37ad8925b95f' '330b9d44078a1ae5a221d655dcb77afa'
 '40dec9f3d5259a3d2dbcdab2114fae47' 'c6f28f804cf6330e6de735ef6e6fe95c'
 '1722481ac9e5371e5099dea226b5421d' '99b00c6e27db383d844d1763dbcbfe06'
 '8a003712c92f483cef1dcb70635ebc7a' '01850876d34b43494b5f9879c366877b'
 '864a3926849a5f8043323b1a6ef0fb26' '6323b8a5b98bfda127cb1cdfd4a40fbb'
 '5ce25abc7206b8285aa756867eb2c590' 'b6885f18d203a61176418c1fb3764815'
 '686e82dd914f82d16ef05415f4419d4f' 'da14b7e2eb0d1eecf65abbd05a31c87d'
 '73fec6021437e723ff5adae8dff89e23' '9fa37f5177115156b1814ffc237402a6'
 '5da54625ee0a9560dc9b9b9f6ccb03d0' 'b250fcac4a31f0677417f892ef87f02d'
 'fd660f5d9a62d444c76191307b3a0514' '87d670b00a8db612286ba8419cf82e83'
 'c70eb6fb5bd6e939b0d5ef32f21f61e8' 'daa9619c6f8ed06d059265dca0f9257f'
 'c35447dcd1a50b2e2ee3184be602b597' '36b6e21a46b7b35a459bed735785772a'
 'f4cb9c7b1dc31afca77d4896d2ae8d4b' 'a77dcf0bf420ced5e37baae9b5daffa4'
 'd1905a1a023dc637956eff9364c5765e' '4b0974ddecd83fd34439a7312a609824'
 '36120633c8737035fbabf079082f4ec1' '1f2ef44bd62ca960c9391166cae6fd3c'
 '733adfe409c752b5c200bf23fa2f22d0' '313edefdee4adcd34e8cbec1854ba5a9'
 'fbc24da54d531c6204ae2d17b1090bb1' 'dcdbbb0bb43f5c9ea457a8363db87e73'
 'e42a14209c69c3e9cc6b042620465f12' 'fb58285f6f6c4e504dfa628de116cae8'
 '346137f3e0157d94372d1cafc5675908' '1694e838dffa97f640fcfa35e86e438e'
 '5ecb50153794666e90bc04c0076b7834' 'd5559420f79579b9aa701a202c4bc7eb'
 '0f25be78376bbbaba8553051e980b83c' '97338d2165e7d6d9bc1348573a405642'
 'bddebc4f4d44106c427bd00695840e64' '649b7b8b46b254497e92038d88f6ced8'
 '682c403426855d4a7612ff724efb404a' '82ce7345d29d3003d376f9382fc0eba0'
 '0b353d6bc27566f1d238313c33d95f56' '6404292b0f9a5594edf14be71ce4c221'
 '83ccc33d426eab8a3db70bd15aba46b8' '22218292bcb562cf33f2342d57952479'
 'ff3416719616ad4921acb8c74e21d6f0' '721e54f5ec9978339e69dd3601713456'
 'e534a08b23c682d94859d0ab860bd57a' 'b6cd08ac77c501fd6857f7916d2c24f3'
 'c494978688ccf66ad9fad3d6a3338c22' '909e333f8f23574f93115bd3d402e202'
 '4aab772aeb9833c170d8ea5413e02eac' 'df99f969c517db441d373ae68b2955c9'
 'b817df3a69949ef27ed885bfcbfd5125' '8515f4df7468489ed6bced112f86e360'
 '0b37d43dbde6452cdd94c17bf61a88e4' 'bfd05fa9f9fe2aedee539951a84f2aaf'
 'dd6f55db3947b0aeaadb65a610334799' '6b30a13289b856b66874b3838f177744'
 'b217afa2c1f4cb502423005639878f6d' '9496ccbb759ca86ff2b76adb4f7672a6'
 '7fa6214d82e911d070f51ef79381b956' '2228a43ac0bc372e25f9569e69fc9015'
 '0b9430edcbf2d9a95148c806af2b6699' 'dcb589befb0d245279c49c137d0afbb9'
 '447cabeecc99dc245cb42be7122cba9e' '298895230612f85f0742434fc434ad10'
 'ef8fd2bd651e9bede81dfb6e45480793' '63a22f10d1d63d25eaf970d6a9c9df2a'
 '27cd3540bace1f4a4b2bc6d319b0553c' '4513838e626b499f475f9b488d177c55'
 '4e82dd1f6d00626bda0723eef0a269a6' '245b65531b938a173db059ad8f034482'
 '214b0943d4ad794c4086cf7e38785ef2' '872eb32141128a5320bfe7b8cf80fc14'
 '57d5edb1844a746128fd1274524b94c7' '58f8c0a253663304e348e81298bc255e'
 '3a21003b9294a4eec831bac080494843' 'e0d33c8fbfd9fe342f3449b6391b7edc'
 '358adb2fee9a122549618e46925a00a5' '0e5a178e3cd2368607f3e72f46140476'
 '1e884e3078d9978e216a027ecd57fb34' '6511fd3ad2fc59d7f907bf22b13d19e3'
 '51ecca024748b4439e473ec446c0bef5' '65c9e96d17d8d12bc0ad3b2cde0bb8b7'
 '0edc241702f5e6c046cbdbc4b5ef6a13' '42a2a1be58277f162c18bad69bcc544f'
 '3b86d7e8c33da2767ad2af9782f383d5' '898cd726567d811ec9166b950696f511'
 'de6d03557a0274d452fc442797717b8a' '7eb40e4e44fef8bff604b621119446c7'
 'aafc43d934a043b451b1dc5a61943a6b' '37cf94070e940a694969304de58debe1'
 'a6daba667aa785424adbf4ae4848f753' 'a6ad0162dbe1182cd73e783d0ec1ffcf'
 '56be022a42b70a9b7e51755d3e3a4f22' 'd75a2371281f42d607be43b08bd74905'
 '966098efaef7a4d665be6b0cb617541b' '0d43fc5a5096c416d3b7b492564293da'
 '82028478fef3ab881990e8d1fb24ba3a' 'f92b00f4abed4326fcb772ad3f732f5d'
 'c79bafc4a099ff23e3bab1534797fb45' '186132bda8b5f41c7dc834d063745d19'
 '92bd5f77d493a36dac9bddb66d1b9dbf' '8d25d9ae4ed5f78b8614b81350173e99'
 '128d8c3f32b8aa66b5bcbe4e26dfc78d' 'c555aa36478386fdf85a2d0ca5cd0ff8'
 'cf747f07a385ddb157f79df52898ab14' 'a5155c8274e4b6d13fe0db420a60a287'
 '54d5e01ab35155d4bd8cf723fc6f04a0' 'da1a335179b8a9784d5733c7c7ada254'
 '908dad5b22342480f5cc055b8dd55e7e' '68f817c510c978e3a3a7474ad2aeb75c'
 '431a558885d03bf98bc3747f78cdfab7' '8edd4451e41e482b32035dd8e8400ff4'
 'f03e241af08912ba7ffb65d69b0eb4d9' 'c05f0fd41e79d7811221253e0d4eadc8'
 'c39dcc27f640ca6303e0b82341c871c8' '83bfeb1d106df88a2cde0965999161f0'
 '91dbdf987124ca09b297bd87f06b5e64' '60ea0bbb4ee471b6b99e8b892847a8db'
 '46bd119220c8bf61324669b1d82203ac' 'fa6f59a21825d841e307151460fb0302'
 '76d33b7836dd4396f9dd310392f570f8' 'b5740085c06d098b773bfb41b7122229'
 '6265f632e27ca4d14268e0cb91ebc4a4' 'c016fd3539eb32d58ae4dca01b4a2061'
 'e964a0b7ce20d152c6ecc57c706d6291' '04a75b75d5f4f3a16b0178fbe382da00'
 'de49b5a73de3b19b3339700fe733886c' '3f3196b43b4af9aafbe878f6a1bbc7bd'
 'c30d0b4337fd05444a3fe502562508d1' '146e076b71a6ca8c31b34191182a313a'
 '7b8106a8b4d2982573b70980cbb01e9d' '5dc848e7dd9418dffe183215b8ff0bc1'
 '2e84ebc35438eb47630f2fae4218c9c7' '5e63931027e6805374c67e5988189028'
 'dfeed5742a04ec1bfc9f9593b880aa12' 'fa5a0151e1f37d0055a3478fbb48827a'
 '253c51690efe34b79a8e2b516effa8cc' '4ed6bf4ac34e75c7c81fcf829d96b739'
 'ef6ae7014c36fec7aaef615a3136b2d8' 'ecc36b943a84ebcd3ab633cbe0fb1b9b'
 'dafec09efd4f106ce6a1ea20db24e9ac' '63355b003224fe06badbd9de99644792'
 'e0d41e6d874fd065008378950917bca3' '2204d1cf0ec6a0cf20f7342e99d88ec8'
 '111313f5b9ceedf17ab5af7317a9f9bc' '7259b9dc88dc397f8a98ab5ce6ce0ab7'
 'd1bad8bf984bd4d7ee08f814ca589897' '3d75f6dd34b968151b3e86c9e28f1379'
 '0a946f83fbafa9ebf3d1c1083a6d865b' 'cb049134a163b197ad8f8df03af26d63'
 '58c77ebccfe901ecb02789124bee6608' '758daa2c01d04b06f42a8aa819ad8d46'
 '71ef148e8a549ba85ca27271a3a94c26' 'a623837d6a3000b3cd020295728e8252'
 '607cb942712956d9e5cca504365378c0' '87e8cbe800fd79c7109fb24081c1c31d'
 'd28554990d8c5273fedfde51f1f8a59d' '154e7506c0176dc761f19fa0cb4988c4'
 'fd7d977e75d1ac5cfe6b93ffabb150b1' '82bfb9f61deccae8b25c32c318b99f56'
 'b21580ecd6fb023c6cfc3e83123a5983' 'd7549bc9744c53d31a4a1abc7fb7b5ee'
 '6fe30070097d07349fb571579ce6c14e' '31aa231b755f09653f48e41c110c8860'
 '97a12252ce4b852ea74f6d41d009a44b' '37145c5650a33da9e6b2df70ae1aec80'
 '33009ff58323b15ce24eba767675f434' '4c4b6da00763e942beb82e36b58d4118'
 '3e2dbc66617ded5ca6a69bdb3a354d4a' '5c6c41289f4d77b9b32fb6a5e2106edb'
 '36525851387908b96e770b1ce5d79a43' '36137eeb4bf9b5f4054c5b83bef611fa'
 'acd502dc52a068d7c4014af6d5dbcd11' 'b2f889d0e09c93c7cf240beef08ecdef'
 '09949e05e2c5fa4ba780fe27213bc575' '40acf2a9cf2fe4de391609431f40dfb7'
 '0f7f8ed9a1db8fc2a42e273972db10d4' '120ad10683075526ee1b3b00489dafec'
 'ce7bafe02f8fb1a3f15f52a9c239d0ef' '8ff57dffc365fcb5233232fff6e6bfd0'
 '9cc4d8fda1533429ac126a2ddf4ebf11' '616767b0bfb0a97510747d8bbcc40290'
 'e92a6f37ebb87a6bfbc569d439cf1635' 'b226889aa1cb9f4efb3c18343b7f07c0'
 '62a620c9f1f5dbe99651c2c9e369cbb0' '3c5cc1a2e1d86abfce2a16a1bcc80e26'
 '9df372c20395ad99d9cb43dfd84e305f' 'f0b4c4ef4ee243742edd86cd944574ec'
 'eb35a69ff6fd56c8ac8cd0a3fb695de5' '657e28a0f2bb6ac7755d08066847dae1'
 '061c3918f72d289ee93d5d8a06c15c2e' '87780f7c05ecd79791bde76af663db15'
 'b52be9379d67e7fbf3734111625cc017' '489a340e7e59e0bcbec67b4a19c1b229'
 '6744140b06a752fafd3c7e4937075ca8' '638d98a3871a7670e644fa1b69111fab'
 'b91e936ef19215572bb05977faae1d85' 'b8cc49b19db5de8ec30f938aa3d916a9'
 '5950e5dfc73454c6d83969bb09ba7fcd' 'b51b5a040fd76d72567c599481147956'
 'ed818923ca007fc44b6f7e47de7eb87a' '151d5575a642287261af4311d569e07c'
 '7fa6590e1b6cc9f17eb5cfdcfad63d50' '64078d75b35c1df83ebde92c7babe9d4'
 'aab63be06a8939d2a0aefdc8d8c2fdf0' 'cb15e297b291d8ef88f2f477defaab2d'
 '5f8ff9510f85e3e9dcb1d74965bf8d48' '92df13aefec1a7292f606a4c7d4187bf'
 'dfc3b656bac13de62e4efca322b3f2c1' '090ffa1062e6dde353c36524563acefc'
 'd41d8cd98f00b204e9800998ecf8427e' 'e998c9a2c0e92504311cde9e43a34026'
 '3fd71e7e6cf64921740567dcfefb68cf' '5b4fa71a2749f25fe9703a7987301c23'
 '6a318eb72f69fe14f22c44abe23bdf53' '2feec85dc487b235304e69f08fed3a39'
 'e30b6fe36d1ad2145ca4544e3362b5c1' '984caf5cd6531beb94e435db458b7cc9'
 'e2e67cce16ad4e30e1f8962402480f17' 'a11c4a4b078821ac00177f52c59d9990'
 '32d0cd3623c4eab3ededbe84943049d2' '270c9837c3b21fb83bee9224f701f3aa'
 'fe82aeadeaea2186478fe6353d6d5301' '24d866dcbe66afe0feee5936c5d54cac'
 'e873d2cf0661d3eaf417b952c7147578' 'b16779a74f2b20eb9a17a785519f63a0'
 '16d718d40146b50ca7a8a045f1b06834' '3aea860a87895eee6b72f666b3d7b98a'
 '3e3371f8470ce094c7c82c09b7bd59d9' '645b2f3e4380afe5121a2a90ca732c74'
 'cc99b45713ce89a0a569e36be200e8ca' '382c8bbbcb0aab881c1a340d390b5e32'
 '0c83f57c786a0b4a39efab23731c7ebc' '7e11885cec8e2f84909c7b365e255413'
 '6eb30e742d5ee0762fd726e9690c2a1a' 'b06203ae0aa50dc524712b1f59c85fc1'
 'f57543dba03374705c8ea62d65808076' '5bc6da5f353093c37734eddd2eafc993'
 'a2e36e3b44b3b692ac65005125f04db9' '425a9f1cd945cb291c58c4212654eb8d'
 'fc4db0e1e8dfd5a305da563f9b2fc192' '1baca9df5850e5ba75545d8b2eb8d966'
 '03c7c0ace395d80182db07ae2c30f034' 'b360f694e319be64b87987476137d1a2'
 '0d6bc3c00e4e64927cae2e8d9c6a0b9b' 'ee40ded7dc801923f81ab6dbbf6e5417'
 'ec1792990dc6ac02bb49c91875ee51fa' 'aa8af3ebe14831a7cd1b6d1383a03755'
 'c0f9e439226ea0373a7e3c0dfe71e4f9' '166fa7410ac1923b2cf2680f79e08850'
 '0625ca637bf063abf254a66fe91fa84b' 'd1c953566a3133574fc8e3f7bc1c126b'
 '6d45066876e395f8fe89add37704b90d' 'e597d6ea31ca28a6355e2dbf5b3013ee'
 '8e3b5d566a45e76ba85c3a2e34428668' '4a295a87a340012cd5cb23cbb5e7461b'
 '67e4b3ca7fb7e6e1e24767b1a6df70fe' 'a3d84321c2ae810ea876baffd7ae050d'
 '6be62e2d792dfec1333ce271c9a1d906' 'c12c73f22a34ac35f2c45f74b55402b0'
 '90b8b59c5597af1c719d701bddb575f2' '8999524db83541c7f1ad48906d5d4b86'
 'be7f31219be243061a39a4a158898688' 'ea4434c9a6df0098e720204ba3dbb76d'
 'e5eaa929c6697d69cd76727daa809042' '53afa44da0f77375f9ab54c9b8d61da8'
 '142187f4dbc5f5dc401d35e896ad29f1' '10f5ac17ed7d6ee9a7d737ac1d2fcb32'
 '1ec5f5ec77c51a968271b2ca9862907d' '50f87b85a731cec08d8380b08c573ed3'
 'dcaf9b9fe015f970d789e226c78dcc68' 'd4d53713e4dab118111608c998bd6185'
 '7f5993cdb977063bc7584810b255bc92' '375e354da26e8619e407002dde41f19c'
 '8d912d37229efff168ceba5d640cc4a1' '8f08d2ef8b9aec2ec5118fbcf7f96f11'
 '57c63d5cb72265135f694bb785d474c3' '1ee8e9027201b4aead6b5c6fa7846eee'
 '30c86954adc2eec0f2589a8bfc4c573f' 'ac7971b81b76ddd7341f4e89e1eb911e'
 '0d5837d82188e547040314b5db344a0c' '081b0e629b3899db213a23bc4e58a17d'
 'e8461ef52596925c898d68d1c7217c4c' '6d3026b7dff03974a1e250d610ab8b36'
 '4e33f301b88ec7f40f82be48344f7a4e' '891b03aa737ba5655affab01b01435c2'
 'fc83c311415c9f67b6c7c87cf488b9c2' '3251617f7f52477cfa4689dae4c10322'
 'eddb68be86556f76236ecf815d32facb' '21aa3161ecfcb855e82c0ef1ebdf410d'
 '08940bbad6e96fc4e620f2d9a00b1db4' '6fc06a95ee1be694d56a0172bc2306b9'
 '80d35379df4ce2f5297acefc78f60907' 'e86b0b777206ca8a678f97428603deac'
 '5870b76c7b4ff735e08214a63fdbbecf' 'b2d69a58fe781b4a116be5368be17353'
 'e1dede7fac8adb44db8302cef3c60e0d' '5b893796c1ea6486bc0cc23a0a0fa11b'
 '66f0eb34b1d43f33779493fc31c5d131' '2b3ba77df5d7657e8c515a1c74155b99'
 'd56c0ae91aedcc9cfeef770826b73ec8' '8dcb4a581ceca6be2399a15de4d39048'
 'f1ac5ca9008183011d8a8e770bcbbdbb' '9b106865e464b4ad89b1b626f2c2e1d7'
 '994afe8f6fe288d2be458c71f784ca56' '20267f479a91ac26c09f83ae13adfa1e'
 '19f7d64c187f64e4c089786e84510ff2' 'c0fa54bbdd331f215aa84b4dd86d7255'
 'a850a8a187e36cb07a8d06700d141993' '79a85ce81ddf5daa300bb137cd81bebd'
 'b55934770d56da868c9ae444e313caa4' '336d5ebc5436534e61d16e63ddfca327'
 'b3346ddd5d7b2edda306d8f531e58660' 'c0fb5b3c854a4b30334892c71faa13c2'
 '34c9ef8fb69f256ff66add711305d279' '97418c38e0c00de56ce63171626fd554'
 '9c0962a42379157493ed685d19844388' '6018a468a00de93ac9bee91950c6a3d8'
 'b649e8f33e9c3b38af415a395a446552' '8baedb6d46227facee694be5d82f2926'
 '44cb5e9f50dfa3b36e485b0f26c4fe5f' 'c5516085d771ceb51e07f0a17b337bd7'
 '3c3d58faafc86beae6e757f1470ce9f0' 'd662cbb2406577ba48384119fd62ac14'
 '515742ea988a44a8ca0ddc44ff92735f' '639b8856a99f6e208406b764ba5a7be5'
 '83355a82a9cee26f3ba2b186ddb0bbbe' '8ca8a42a9a8f1c60580ffacb121cce69'
 'dd26cc89043f913c5441e3c88f2c26b6' '386ab4223b463542f214d97a27247329'
 '8e1f60cfb4a7def895d8baf0eec1394e' '5679ae2329cbad78cdf97737d11bad06'
 '33d93d27f43d86b4a7e89186936d8c6c' '149878f8f96bf77a1a69f88519a8fe99'
 'd8a14bb9ac08a36af5e3221b224966ba' 'aa6c941b72ed890d9c43511f94bafab2'
 '1c19071a49fd2b43d0d4df3ff05c19c4' 'ca2cd580bff13775c778f128c7db2b41'
 '5342a9e3497ac934ce6a4e62086cfcca' '3c46fdd071e979b10c7a2ccc395e72f0'
 '38addfd5b0598e69bfa843b9c85c9a19' '294ce16d2b3c2186a805f26aa8de3ebc'
 '67215f7bc6c2a85df0711d66d514a3d9' '1d83f02bfc05b6715ef428ee0ccd78be'
 '83fb61eb103000456b0acbfa36c60ea8' 'c8d7b5ac22b15ae22e689d1227db8d96'
 '46bbd1ad032b44f18f1fb613200965a0' 'c797693346e9dcf3275d3e40bc3ddc1d'
 'b6168f7cc29e9a2b6d9e82df0e668a87' '099ddda4feb08e89c402f2d38ca94b2e'
 'a841af0f710cf7e340d0d43626d2e568' 'ce1542c96eaf50155d494300c7bfceb3'
 '8e198e412a2bd69038a26b35656e52a4' '9d72960ad2cfeaa46192fa3dba4e498e'
 '2cae266d756f8688d24bf43c5b5d9d84' '9a26036e9f038f248693cb8a5a1f1ddc'
 '7cae0e79bdcf71dfd512f1100219fdbc' 'c2826f1fb1ca7c1b7c7b63c1018b8ba5'
 '4e24f6443807ad2eba56754b0dc91140' 'f55ba1da3448d20e213b0a10385eac07'
 '603522877eb261ca56f4222c9a6f1db3' '282cb66cf00adbf96a4486eb4cb2431c'
 '83157507fbc1ecbd1a32bf69812e8a16' 'b4b13997af4a7b7cf940ca44c88086a3'
 '557cc18ae3b10b7fd35fbed2019910b1' 'd387e61aff60919eae0a5ef1773db0db'
 '33751088e4687d1b6b2424b9e5e67979' 'd0543cbdeb8df2ae60e7057a63bd5d39'
 '5fdaba20ee1cd0194652abb51479ddf9' 'c1dbbbd410e1721a1932b550fdcef09b'
 '1b29d3a0b89bc8da6df20e98dfac86f4' '6b1061553497d45f6ac9d3386b648a4d'
 '8fd4f7a7c343f7d0d31ae5faf51e839d' '5d85e946cb22385b94eef98af7f76cb1'
 'a41b8b7318c4f42dbb65c277861ca89d' 'e022029a28bad406d6f3e74512ebebc2'
 'a3c42430cd0c931fc07c918979d8baeb' 'f2297ae2d607584fb580e9947a1a9b75'
 '984c5278c0a8e3c75e41b90def1f2611' '9ee0e215ccb1661015e983e9e476dd0b'
 'd1da19204d3ed40c6476ad7498fb3e8b' '5c517d06e51b50ae51785450e0b806d5'
 'afff7cfc8b8e50b09fa8840a9cecd5dc' 'f08397f6bf693eef76648ea83ed2ece8'
 '3b9715bd3b57ba1727acec71ed308568' '7773bf6b17a2c98e2604b3a402f3c050'
 'c77d415d635d56706858140ae4354e45' '2635743d5842a4475730345cf894efce'
 'b221554b9ec12f7efb490488a053e8dc' '67f163b6f2baf0f12300d9efa4589e79'
 'dabf7461e7b9fbcb03eb28449632f0c6' '0a252e869424c89cf3608e07399b61f6'
 'e9e396caabf546e0ff4f747b47538192' '9c19bf493fb017f18387b466e26d6c5d'
 'a95c02568fa55326e1cd3c09207ec4d1' 'e6f5a53f93c11dc9f418531040987730'
 '6a005efe7039a488ef82720efba1d28e' '52a08c56d3b13cb6c8ce804776423e6b'
 '7fdee983c737fb9d29dbd5c094136a97' '59d346b461701840a8ff44a94710704c'
 'cff78f40e6cdb80bb902d9a978eb4a76' '13fa6688e41e863dcbfdb4c6112c4c86'
 '4c683c64df361d9d0ca0257aa0d80f49' 'b34c567bf9cfa6ddc40b5b0d2d9c5bc7'
 '5325ad032ef3e3d5e7dc9e1ec565fa23' '3cc38c43666a7f2faedf74d0d718ba94'
 'c9d51cd2248b6329851dea905f8f1fac' '5071a8a3ad132bdea8de85e0c90effd1'
 '3207d4688de4e0e721272756dd4339b8' 'd498d8fea0c0458bf3553775a60e66ec'
 '90ab6406c7a390e1c8aed08045676a91' '3757ed31bc4b61f9e108bd871822c0c6'
 '1754aa3138d36ccc989ffa4362719181' 'f77960785994c89e81217aa876672703'
 'dff49c1e54630a22f1ca28fcc02daca0' '6b6c0934205e87702519d1cce24055f9'
 'f3d15bbce65ef706388acb3d1c637a8b' '6dca9fc31d8a95cdbcfafcc307012768'
 '8294e62844a66d67be57cfeaef455bad' 'fd7c4cdfbfb7964b441618d54f88c38b'
 '47eeb9ed8fa40de028e33449896579a1' '6ec28268c0772b612a9bc42881b8a313'
 '94472cf01c2c1ec24e24f5b0f9ca24a3' 'b634a925e3768734c5b7b2325c88a082'
 'f5fdb03f3ee6e369a1748e300cc40cb9' '9d252fc65f999fc52b49b27d69c09450'
 '1d298480a2f10b8c7527eeb6fcf1df97' '60877a8e7a44a3ad9fe1af9359efa0dd'
 '7c95c48a62175235a4f5f58ebdfbeec5' '8b1eeb056311220fd13bb7bae8ebe596'
 '5963a9ba5d6c9af62cba5a9ac76f263d' '320669df6e03fc8a691a1a4c61c56a32'
 '8345a83d419160e69c0501b494dadfa6' '47a9f630d492167d7390ff23cf40dab6'
 'dfd5e75bc022dc8b7388c4647d9e079f' 'c2fbb52ea85264169ad5109ee7775d06'
 '97f34946d127e73fb33c3d86ecca344c' '83f9898dfc5a0485fb93dd9f7f8bf482'
 '5215a2f4c4cb554cb18c8de3b4f06df5' 'd27094ded8d5242d4d2ba9d7e5f176b4'
 'ffc62d6945fd1423539ec6d96326c37c' '6ec35d2451cfa0e2e1c8595ec4ad099d'
 '3683ba5726e741af4b8b02bcaef4e7b3']
b76ef37428e6799c421989521c0e5077    912
22c29808c4f815213303f8933030604c    883
58326e62183c14b0c03085c33b9fdc44    495
88740e65d5d6b056e0cda098e1ea6313    445
ce1a65abd0973638f1c887a6efcfa82d    394
                                   ...
8999524db83541c7f1ad48906d5d4b86      1
be7f31219be243061a39a4a158898688      1
ea4434c9a6df0098e720204ba3dbb76d      1
e5eaa929c6697d69cd76727daa809042      1
3683ba5726e741af4b8b02bcaef4e7b3      1
Name: landing_page_id, Length: 495, dtype: int64

### Columna "origin"

In [138]:
print(marketing_qualified_leads.origin.unique())
print(marketing_qualified_leads.origin.value_counts())

['social' 'paid_search' 'organic_search' 'email' 'unknown' 'referral'
 'direct_traffic' 'display' nan 'other_publicities' 'other']
organic_search       2296
paid_search          1586
social               1350
unknown              1099
direct_traffic        499
email                 493
referral              284
other                 150
display               118
other_publicities      65
Name: origin, dtype: int64